! ------------------------------------------------------------------------------
! General Color theme
! ------------------------------------------------------------------------------
! special
*.foreground:   #f8f8f2
*.background:   #272822
*.cursorColor:  #f8f8f2

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #181814
*.color13:      #ae81ff

! cyan
*.color6:       #fd971f
*.color14:      #fd971f

! white
*.color7:       #c0c0c0
*.color15:      #c0c0c0

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #272822, #66d9ef, #66d9ef
rofi.color-normal: #272822, #ffffff, #272822, #a6e22e, #272822
rofi.color-active: #272822, #66d9ef, #272822, #66d9ef, #272822
rofi.color-urgent: #272822, #f92672, #272822, #f92672, #272822
rofi.opacity: 90
rofi.separator-style: solid
rofi.lines: 9
rofi.line-margin: 10
rofi.hide-scrollbar: true
rofi.padding: 10
rofi.location: 2
rofi.yoffset: 200

! ------------------------------------------------------------------------------
! URXVTc Settings
! ------------------------------------------------------------------------------
! Compile xft: Attempt to find a visual with the given bit depth;
! URxvt.depth: bitdepth
URxvt.depth: 32

! Compile xft: Turn on/off double-buffering for xft (default
! URxvt.buffered: boolean

! Create the window with the specified X window geometry [default
! URxvt.geometry: geom

! Use the specified colour as the windows background colour
! URxvt.background: colour
! URxvt.background: [80]#000000

! Use the specified colour as the windows foreground colour
! URxvt.foreground: colour

! Use the specified colour for the colour value n, where 0-7
! URxvt.colorn: colour

!
! URxvt.colorBD: colour

! Use the specified colour to display bold or italic characters
! URxvt.colorIT: colour

! Use the specified colour to display underlined characters when
! URxvt.colorUL: colour

! If set, use the specified colour as the colour for the underline
! URxvt.underlineColor: colour

! If set, use the specified colour as the background for
! URxvt.highlightColor: colour

! If set and highlightColor is set, use the specified colour as the
! URxvt.highlightTextColor: colour

! Use the specified colour for the cursor. The default is to use
! URxvt.cursorColor: colour

! Use the specified colour for the colour of the cursor text. For
! URxvt.cursorColor2: colour

! True: simulate reverse video by foreground and background
! URxvt.reverseVideo: boolean

! True: specify that jump scrolling should be used. When receiving
! URxvt.jumpScroll: boolean

! True: (the default) specify that skip scrolling should be used.
! URxvt.skipScroll: boolean

! Fade the text by the given percentage when focus is lost; option
! URxvt.fading: number

! Fade to this colour, when fading is used (see fading:). The
! URxvt.fadeColor: colour

! Set the application icon pixmap; option -icon.
! URxvt.iconFile: file

! Use the specified colour for the scrollbar [default #B2B2B2].
! URxvt.scrollColor: colour

! Use the specified colour for the scrollbars trough area [default
! URxvt.troughColor: colour

! The colour of the border around the text area and between the
! URxvt.borderColor: colour
! URxvt.borderColor: #303030

! Select the fonts to be used. This is a comma separated list of
! URxvt.font: fontlist
URxvt.font: xft:Ubuntu\ Mono\ derivate\ Powerline:size=12

! URxvt.boldFont: fontlist

!
! URxvt.italicFont: fontlist

! The font list to use for displaying bold, italic or bold italic
! URxvt.boldItalicFont: fontlist

! When font styles are not enabled, or this option is enabled
! URxvt.intensityStyles: boolean

! Set window title string, the default title is the command-line
! URxvt.title: string

! Set the name used to label the windows icon or displayed in an
! URxvt.iconName: string

! True: de-iconify (map) on receipt of a bell character. False: no
! URxvt.mapAlert: boolean

! True: set the urgency hint for the wm on receipt of a bell
! URxvt.urgentOnBell: boolean

! True: use visual bell on receipt of a bell character; option -vb.
! URxvt.visualBell: boolean

! True: start as a login shell by prepending a - to argv[0] of
! URxvt.loginShell: boolean

! Specify the maximum time in milliseconds between multi-click
! URxvt.multiClickTime: number

! True: inhibit writing record into the system log file utmp;
! URxvt.utmpInhibit: boolean

! Specify a command pipe for vt100 prinner [default lpr(1)]. Use
! URxvt.print-pipe: string

! Set scrollbar style to rxvt, plain, next or xterm. plain is the
! URxvt.scrollstyle: mode

! Set the scrollbar width in pixels.
! URxvt.thickness: number
URxvt.thickness: 0

! True: enable the scrollbar [default]; option -sb. False: disable
! URxvt.scrollBar: boolean
URxvt.scrollBar: false

! True: place the scrollbar on the right of the window; option -sr.
! URxvt.scrollBar_right: boolean

! True: display an rxvt scrollbar without a trough; option -st.
! URxvt.scrollBar_floating: boolean

! Align the top, bottom or centre [default] of the scrollbar thumb
! URxvt.scrollBar_align: mode

! True: scroll to bottom when tty receives output; option -si.
! URxvt.scrollTtyOutput: boolean

! True: scroll with scrollback buffer when tty receives new lines
! URxvt.scrollWithBuffer: boolean

! True: scroll to bottom when a non-special key is pressed. Special
! URxvt.scrollTtyKeypress: boolean

! Save number lines in the scrollback buffer [default 64]. This
! URxvt.saveLines: number

! Internal border of number pixels. This resource is limited to
! URxvt.internalBorder: number
URxvt.internalBorder: 0

! External border of number pixels. This resource is limited to
! URxvt.externalBorder: number
URxvt.externalBorder: 0

! Set MWM hints to request a borderless window, i.e. if honoured by
! URxvt.borderLess: boolean
URxvt.borderLess: false

! Compile frills: Disable the usage of the built-in block
! URxvt.skipBuiltinGlyphs: boolean

! Specifies the terminal type name to be set in the TERM
! URxvt.termName: termname
URxvt.termName: rxvt-unicode-256color

! Specifies number of lines (pixel height) to insert between each
! URxvt.lineSpace: number

! True: handle Meta (Alt) + keypress to set the 8th bit. False:
! URxvt.meta8: boolean

! True: the mouse wheel scrolls a page full. False: the mouse wheel
! URxvt.mouseWheelScrollPage: boolean
URxvt.mouseWheelScrollPage: false

! True: store tabs as wide characters. False: interpret tabs as
! URxvt.pastableTabs: boolean

! True: blink the cursor. False: do not blink the cursor [default];
! URxvt.cursorBlink: boolean
URxvt.cursorBlink: true

! True: Make the cursor underlined. False: Make the cursor a box
! URxvt.cursorUnderline: boolean
URxvt.cursorUnderline: true

! True: blank the pointer when a key is pressed or after a set
! URxvt.pointerBlank: boolean
URxvt.pointerBlank: true

! Mouse pointer foreground colour.
! URxvt.pointerColor: colour
URxvt.pointerColor: #808080

! Mouse pointer background colour.
! URxvt.pointerColor2: colour

! Specifies number of seconds before blanking the pointer [default
! URxvt.pointerBlankDelay: number

! The string to send when the backspace key is pressed. If set to
! URxvt.backspacekey: string

! The string to send when the delete key (not the keypad delete
! URxvt.deletekey: string

! The characters used as delimiters for double-click word selection
! URxvt.cutchars: string
URxvt.cutchars: -A-Za-z0-9,./?%&#:_=+@~

!
! URxvt.{|}

! OverTheSpot, OffTheSpot, Root; option -pt.
! URxvt.preeditType: style

! name of inputMethod to use; option -im.
! URxvt.inputMethod: name

! The locale to use for opening the IM. You can use an "LC_CTYPE"
! URxvt.imLocale: name

! Specify the font-set used for XIM styles "OverTheSpot" or
! URxvt.imFont: fontset

! Change the meaning of triple-click selection with the left mouse
! URxvt.tripleclickwords: boolean

! Enables "insecure" mode. Rxvt-unicode offers some escape
! URxvt.insecure: boolean

! Set the key to be interpreted as the Meta key to: alt, meta,
! URxvt.modifier: modifier

! Specify the reply rxvt-unicode sends to the shell when an ENQ
! URxvt.answerbackString: string

! Turn on/off secondary screen (default enabled).
! URxvt.secondaryScreen: boolean

! Turn on/off secondary screen scroll (default enabled). If this
! URxvt.secondaryScroll: boolean

! Turn on/off hold window after exit support. If enabled, urxvt
! URxvt.hold: boolean

! Sets the working directory for the shell (or the command
! URxvt.chdir: path

! Compile frills: Associate action with keysym sym. The intervening
! URxvt.keysym.sym: action

! URxvt.perl-ext-common: string

! Comma-separated list(s) of perl extension scripts (default:
! URxvt.perl-ext: string

! Perl code to be evaluated when all extensions have been
! URxvt.perl-eval: string

! Colon-separated list of additional directories that hold
! URxvt.perl-lib: path

! Additional selection patterns, see the urxvtperl(3) manpage for
! URxvt.selection.pattern-idx: perl-regex

! Selection auto-transform patterns, see the urxvtperl(3) manpage
! URxvt.selection-autotransform.idx: perl-transform

! This resource is deprecated and will be removed. Use a keysym
! URxvt.searchable-scrollback: keysym *DEPRECATED*

! Specifies the program to be started with a URL argument. Used by
! URxvt.url-launcher: string

! Compile frills: Sets the WM_TRANSIENT_FOR property to the given
! URxvt.transient-for: windowid

! Compile frills: Sets override-redirect for the terminal window,
! URxvt.override-redirect: boolean

! Turn on/off ISO 14755 (default enabled).
! URxvt.iso14755: boolean

! Turn on/off ISO 14755 5.2 mode (default enabled).
! URxvt.iso14755_52: boolean
